<%- include('partials/header') %>

<% if (posts.length === 0) { %>
  <p>No posts yet.</p>
<% } %>

<% posts.forEach(post => { %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>

    <a href="/edit/<%= post.id %>" class="btn btn-delete">Edit</a>
<div><h1> </h1></div>
    <form action="/delete/<%= post.id %>" method="POST">
      <button class="btn btn-delete" >Delete</button>
    </form>
  </div>
<% }) %>

<%- include('partials/footer') %>